Project Objective

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/coreysinnott/Desktop/personal_git/Works_in_progress/donor_predictor'

# Data Import & Cleaning

### Target Values

In [8]:
df_donations = pd.read_csv('./Windfall DS Challenge -- PTG/donations.csv', index_col = 0)

In [9]:
df_donations.shape

(992225, 4)

In [10]:
df_donations.sample(3)

                cand_id  trans_date  amount  age
267083  candidate_53030  2007-05-01   150.0    0
466091  candidate_36546  2016-02-26    20.0    0
221424  candidate_45785  2014-02-14     5.0    0

In [ ]:
# convert to time series
# resample to just year
# sum values on year
# maybe do an average per year total and then * 5?
# propensity score?

In [16]:
df_donations.isna().sum()

cand_id       0
trans_date    0
amount        0
age           0
dtype: int64

In [11]:
df_donations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992225 entries, 0 to 992224
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cand_id     992225 non-null  object
 1   trans_date  992225 non-null  object
 2   amount      992225 non-null  float64
 3   age         992225 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 37.9+ MB

In [20]:
# converting to timeseries
df_donations['trans_date'] = pd.to_datetime(df_donations['trans_date'])

In [23]:
df_donations.trans_date.describe(datetime_is_numeric = True)

count                           992225
mean     2006-10-31 14:21:39.370606592
min                1900-01-24 00:00:00
25%                1999-07-19 00:00:00
50%                2007-08-09 00:00:00
75%                2015-05-29 00:00:00
max                2020-07-31 00:00:00
Name: trans_date, dtype: object

In [24]:
#dropping values prior to 2000
df_donations = df_donations[df_donations.trans_date >= '2000-01-01 00:00:00']

In [25]:
#removed ~250k rows
df_donations.trans_date.describe(datetime_is_numeric = True)

count                           726984
mean     2011-05-21 06:33:58.110329856
min                2000-01-03 00:00:00
25%                2006-03-15 00:00:00
50%                2011-11-14 00:00:00
75%                2016-12-16 00:00:00
max                2020-07-31 00:00:00
Name: trans_date, dtype: object

In [26]:
#resetting index to date
df_donations = df_donations.set_index(keys = 'trans_date')
df_donations.head(1)

                    cand_id  amount  age
trans_date
2006-10-05  candidate_86164  2500.0    0

In [135]:
# testing; adapted from:
# https://stackoverflow.com/questions/53339021/python-pandas-calculate-moving-average-within-group
df_test['rolling_avg'] = df_test.groupby('cand_id')['amount'].transform(lambda x: x.rolling(12, 2).mean())

In [188]:
df_test[df_test.cand_id == 'candidate_0'].head(8)

                cand_id   amount  age  rolling_avg  moving
trans_date
2009-04-22  candidate_0    62.50   54          NaN     NaN
2014-01-31  candidate_0   500.00   54   281.250000     NaN
2018-06-12  candidate_0   624.99   54   395.830000     NaN
2019-05-06  candidate_0   500.00   54   421.872500     NaN
2017-12-06  candidate_0  1249.98   54   587.494000     NaN
2014-08-11  candidate_0   350.00   54   547.911667     NaN
2009-07-22  candidate_0    62.50   54   478.567143     NaN
2015-05-13  candidate_0  1000.00   54   543.746250     NaN

In [75]:
#summing total per year for each cand_id
yearly_donations = pd.DataFrame(df_donations.reset_index().groupby(['cand_id', 
                                pd.Grouper(key='trans_date', freq='A-DEC')])['amount'].sum())

In [101]:
yearly_donations.head(15)

                           amount
cand_id      trans_date
candidate_0  2007-12-31     50.00
             2009-12-31    234.39
             2010-12-31    912.50
             2011-12-31   1000.00
             2012-12-31   4600.00
             2013-12-31   1950.01
             2014-12-31  15600.00
             2015-12-31   5500.00
             2016-12-31   3750.00
             2017-12-31  11609.94
             2018-12-31   7874.97
             2019-12-31   6500.00
candidate_1  2019-12-31  25000.00
candidate_10 2006-12-31     85.00
             2007-12-31     50.00

In [ ]:
#notice a trend of giving more as time ->
#therefore will take average of final five years,
#or as many most recent years available
#rather than initial idea of moving average

In [93]:
#filtering out 0's
yearly_donations = yearly_donations[yearly_donations['amount'] != 0]

In [94]:
yearly_donations.shape

(200615, 1)

In [137]:
yearly_test = yearly_donations

In [140]:
yearly_test['rolling_avg'] = yearly_test.groupby('cand_id')['amount'].transform(lambda x: x.rolling(12, 1).mean())

In [141]:
yearly_test.head(20)

                              amount   rolling_avg
cand_id         trans_date
candidate_0     2007-12-31     50.00     50.000000
                2009-12-31    234.39    142.195000
                2010-12-31    912.50    398.963333
                2011-12-31   1000.00    549.222500
                2012-12-31   4600.00   1359.378000
                2013-12-31   1950.01   1457.816667
                2014-12-31  15600.00   3478.128571
                2015-12-31   5500.00   3730.862500
                2016-12-31   3750.00   3732.988889
                2017-12-31  11609.94   4520.684000
                2018-12-31   7874.97   4825.619091
                2019-12-31   6500.00   4965.150833
candidate_1     2019-12-31  25000.00  25000.000000
candidate_10    2006-12-31     85.00     85.000000
                2007-12-31     50.00     67.500000
candidate_100   2014-12-31    130.80    130.800000
candidate_1000  2000-12-31     35.00     35.000000
candidate_10000 2006-12-31    157.50    157.500000
                2007-12-31    195.00    176.250000
                2008-12-31    195.00    182.500000

In [169]:
#reset index pushes cand_id back out
yearly_test_2 = yearly_test.reset_index()

In [176]:
#x = [k[:-1] for i, k in yearly_test_2.loc(i)['rolling_avg']]

In [181]:
# the final average yearly amount
# increase the rolling_avg by the amount they typically increase by year?
donor_final_df = yearly_test_2.loc[yearly_test_2.groupby('cand_id').rolling_avg.idxmax()]

In [183]:
donor_final_df.drop(columns = ['trans_date','amount'], inplace = True)

In [195]:
donor_final_df.head(3)

         cand_id   rolling_avg  20k_donor
11   candidate_0   4965.150833          1
12   candidate_1  25000.000000          1
13  candidate_10     85.000000          0

In [196]:
donor_final_df.describe()

        rolling_avg     20k_donor
count  7.460300e+04  74603.000000
mean   1.018827e+03      0.018123
std    4.034234e+04      0.133396
min    1.000000e-02      0.000000
25%    2.500000e+01      0.000000
50%    5.000000e+01      0.000000
75%    1.075000e+02      0.000000
max    7.012995e+06      1.000000

In [186]:
#donor_final_df.to_csv('donor_final_averages_classed.csv')

In [191]:
donor_final_df['20k_donor'] = np.where(donor_final_df['rolling_avg'] >= 4000, 1, 0)

In [192]:
donor_final_df['20k_donor'].value_counts(normalize = True)

0    0.981877
1    0.018123
Name: 20k_donor, dtype: float64

In [ ]:
#donor_final_df.to_csv('donor_final_averages_classed.csv')

### Feature Values

In [4]:
df_features = pd.read_csv('./Windfall DS Challenge -- PTG/windfall_features.csv')

In [12]:
df_features.shape

(130114, 23)

In [13]:
df_features.head(3)

,candidate_id,totalHouseholdDebt,primaryPropertyLoanToValue,primaryPropertyValue,propertyCount,isClassADonor,isClassBDonor,isClassCDonor,isClassDDonor,NetWorth,...,sumClassDDonation,maxClassADonation,maxClassBDonation,maxClassCDonation,maxClassDDonation,sumCauseADonations,sumCauseBDonations,sumCauseCDonations,sumCauseDDonations,sumCauseEDonations
0,candidate_0,6.085778,0.336380,2215000.0,4.0,0.0,0.0,1.0,1.0,14011369.0,...,2134.97,1.0,1.0,751.0,751.0,0.0,0.0,0.000000,0.00000,0.0
1,candidate_1,6.480672,0.828664,3650000.0,1.0,0.0,1.0,0.0,1.0,5812754.0,...,501.00,1.0,1751.0,1.0,251.0,0.0,0.0,0.000000,0.00000,0.0
2,candidate_2,0.000000,0.000002,625000.0,1.0,0.0,1.0,0.0,0.0,1060001.0,...,1.00,1.0,41.0,1.0,1.0,0.0,0.0,1.414973,1.78533,0.0

In [17]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130114 entries, 0 to 130113
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   candidate_id                130114 non-null  object
 1   totalHouseholdDebt          50919 non-null   float64
 2   primaryPropertyLoanToValue  50919 non-null   float64
 3   primaryPropertyValue        50919 non-null   float64
 4   propertyCount               50919 non-null   float64
 5   isClassADonor               50919 non-null   float64
 6   isClassBDonor               50919 non-null   float64
 7   isClassCDonor               50919 non-null   float64
 8   isClassDDonor               50919 non-null   float64
 9   NetWorth                    50919 non-null   float64
 10  sumClassADonation           50919 non-null   float64
 11  sumClassBDonation           50919 non-null   float64
 12  sumClassCDonation           50919 non-null   float64
 13  sumClassDDonation           50919 non-null   float64
 14  maxClassADonation           50919 non-null   float64
 15  maxClassBDonation           50919 non-null   float64
 16  maxClassCDonation           50919 non-null   float64
 17  maxClassDDonation           50919 non-null   float64
 18  sumCauseADonations          50919 non-null   float64
 19  sumCauseBDonations          50919 non-null   float64
 20  sumCauseCDonations          50919 non-null   float64
 21  sumCauseDDonations          50919 non-null   float64
 22  sumCauseEDonations          50919 non-null   float64
dtypes: float64(22), object(1)
memory usage: 22.8+ MB

In [18]:
df_features.isna().sum()

candidate_id                      0
totalHouseholdDebt            79195
primaryPropertyLoanToValue    79195
primaryPropertyValue          79195
propertyCount                 79195
isClassADonor                 79195
isClassBDonor                 79195
isClassCDonor                 79195
isClassDDonor                 79195
NetWorth                      79195
sumClassADonation             79195
sumClassBDonation             79195
sumClassCDonation             79195
sumClassDDonation             79195
maxClassADonation             79195
maxClassBDonation             79195
maxClassCDonation             79195
maxClassDDonation             79195
sumCauseADonations            79195
sumCauseBDonations            79195
sumCauseCDonations            79195
sumCauseDDonations            79195
sumCauseEDonations            79195
dtype: int64