#### Windfall Children's Center Propensity to Give
#### Corey J Sinnott
   
## Executive Summary
   
This report was commissioned to develop a model used to predict major donors. A major donor will be considered as any individual likely to give at least 20,000 USD. An initial dataset of ~130,000 donors can be found in the data folder, as well as a dataset containing potential feature values.  
## Contents:
- [Data Import & Cleaning](#Data-Import-&-Cleaning)

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/coreysinnott/Desktop/personal_git/Works_in_progress/donor_predictor'

# Data Import & Cleaning

### Target Values

In [3]:
df_donations = pd.read_csv('./data/Windfall DS Challenge -- PTG/donations.csv', index_col = 0)

In [4]:
df_donations.shape

(992225, 4)

In [5]:
df_donations.sample(3)

                 cand_id  trans_date  amount  age
515278  candidate_118539  2017-06-16   40.00    0
805444  candidate_114032  2005-09-08    3.85   67
609898   candidate_48204  2008-05-02    5.00    0

In [ ]:
# convert to time series
# resample to just year
# sum values on year
# maybe do an average per year total and then * 5?
# propensity score?

In [6]:
df_donations.isna().sum()

cand_id       0
trans_date    0
amount        0
age           0
dtype: int64

In [7]:
df_donations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992225 entries, 0 to 992224
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cand_id     992225 non-null  object
 1   trans_date  992225 non-null  object
 2   amount      992225 non-null  float64
 3   age         992225 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 37.9+ MB

In [8]:
# converting to timeseries
df_donations['trans_date'] = pd.to_datetime(df_donations['trans_date'])

In [9]:
df_donations.trans_date.describe(datetime_is_numeric = True)

count                           992225
mean     2006-10-31 14:21:39.370606592
min                1900-01-24 00:00:00
25%                1999-07-19 00:00:00
50%                2007-08-09 00:00:00
75%                2015-05-29 00:00:00
max                2020-07-31 00:00:00
Name: trans_date, dtype: object

In [10]:
# dropping values prior to 2000
# to filter for activer donors
df_donations = df_donations[df_donations.trans_date >= '2000-01-01 00:00:00']

In [11]:
#removed ~250k rows
df_donations.trans_date.describe(datetime_is_numeric = True)

count                           726984
mean     2011-05-21 06:33:58.110329856
min                2000-01-03 00:00:00
25%                2006-03-15 00:00:00
50%                2011-11-14 00:00:00
75%                2016-12-16 00:00:00
max                2020-07-31 00:00:00
Name: trans_date, dtype: object

In [12]:
#resetting index to date
df_donations = df_donations.set_index(keys = 'trans_date')
df_donations.head(1)

                    cand_id  amount  age
trans_date
2006-10-05  candidate_86164  2500.0    0

In [19]:
#summing total per year for each cand_id
yearly_donations = pd.DataFrame(df_donations.reset_index().groupby(['cand_id', 
                                pd.Grouper(key='trans_date', freq='A-DEC')])['amount'].sum())

In [20]:
yearly_donations.head(15)

                           amount
cand_id      trans_date
candidate_0  2007-12-31     50.00
             2009-12-31    234.39
             2010-12-31    912.50
             2011-12-31   1000.00
             2012-12-31   4600.00
             2013-12-31   1950.01
             2014-12-31  15600.00
             2015-12-31   5500.00
             2016-12-31   3750.00
             2017-12-31  11609.94
             2018-12-31   7874.97
             2019-12-31   6500.00
candidate_1  2019-12-31  25000.00
candidate_10 2006-12-31     85.00
             2007-12-31     50.00

In [ ]:
# notice a trend of giving more as time ->
# therefore will set window of five years,
# or as many most recent years available
# (period set to 1 to capture donors with only one year)
# rather than initial idea of moving average for all

In [21]:
#filtering out 0's
yearly_donations = yearly_donations[yearly_donations['amount'] != 0]

In [22]:
yearly_donations.shape

(200615, 1)

In [23]:
yearly_donations_classed = yearly_donations

In [24]:
yearly_donations_classed['rolling_avg'] = \
            yearly_donations_classed.groupby('cand_id')['amount'].transform(lambda x: x.rolling(12, 1).mean())

In [26]:
# select values verified by hand
yearly_donations_classed.head(15)

                           amount   rolling_avg
cand_id      trans_date
candidate_0  2007-12-31     50.00     50.000000
             2009-12-31    234.39    142.195000
             2010-12-31    912.50    398.963333
             2011-12-31   1000.00    549.222500
             2012-12-31   4600.00   1359.378000
             2013-12-31   1950.01   1457.816667
             2014-12-31  15600.00   3478.128571
             2015-12-31   5500.00   3730.862500
             2016-12-31   3750.00   3732.988889
             2017-12-31  11609.94   4520.684000
             2018-12-31   7874.97   4825.619091
             2019-12-31   6500.00   4965.150833
candidate_1  2019-12-31  25000.00  25000.000000
candidate_10 2006-12-31     85.00     85.000000
             2007-12-31     50.00     67.500000

In [27]:
#reset index to push cand_id back out
yearly_donations_classed = yearly_donations_classed.reset_index()

In [28]:
# filtering for the final average yearly amount
# increase the final average by the amount they typically increase by year
# if time allows
donor_final_df = \
    yearly_donations_classed.loc[yearly_donations_classed.groupby('cand_id').rolling_avg.idxmax()]

In [29]:
donor_final_df.drop(columns = ['trans_date','amount'], inplace = True)

In [30]:
donor_final_df.head(3)

         cand_id   rolling_avg
11   candidate_0   4965.150833
12   candidate_1  25000.000000
13  candidate_10     85.000000

In [60]:
donor_final_df.shape

(74603, 3)

In [31]:
donor_final_df.describe()

        rolling_avg
count  7.460300e+04
mean   1.018827e+03
std    4.034234e+04
min    1.000000e-02
25%    2.500000e+01
50%    5.000000e+01
75%    1.075000e+02
max    7.012995e+06

In [32]:
# creating a binary target value
# assuming a yearly donation amount of greater than 
# $4k will qualify for a potential $20k in 5 years
donor_final_df['20k_donor'] = np.where(donor_final_df['rolling_avg'] >= 4000, 1, 0)

In [33]:
# highly imbalanced classes
donor_final_df['20k_donor'].value_counts(normalize = True)

0    0.981877
1    0.018123
Name: 20k_donor, dtype: float64

In [ ]:
# backing up csv
#donor_final_df.to_csv('donor_final_averages_classed.csv')

### Feature Values

In [35]:
df_features = pd.read_csv('./data/Windfall DS Challenge -- PTG/windfall_features.csv')

In [36]:
df_features.shape

(130114, 23)

In [37]:
df_features.head(3)

,candidate_id,totalHouseholdDebt,primaryPropertyLoanToValue,primaryPropertyValue,propertyCount,isClassADonor,isClassBDonor,isClassCDonor,isClassDDonor,NetWorth,...,sumClassDDonation,maxClassADonation,maxClassBDonation,maxClassCDonation,maxClassDDonation,sumCauseADonations,sumCauseBDonations,sumCauseCDonations,sumCauseDDonations,sumCauseEDonations
0,candidate_0,6.085778,0.336380,2215000.0,4.0,0.0,0.0,1.0,1.0,14011369.0,...,2134.97,1.0,1.0,751.0,751.0,0.0,0.0,0.000000,0.00000,0.0
1,candidate_1,6.480672,0.828664,3650000.0,1.0,0.0,1.0,0.0,1.0,5812754.0,...,501.00,1.0,1751.0,1.0,251.0,0.0,0.0,0.000000,0.00000,0.0
2,candidate_2,0.000000,0.000002,625000.0,1.0,0.0,1.0,0.0,0.0,1060001.0,...,1.00,1.0,41.0,1.0,1.0,0.0,0.0,1.414973,1.78533,0.0

In [38]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130114 entries, 0 to 130113
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   candidate_id                130114 non-null  object
 1   totalHouseholdDebt          50919 non-null   float64
 2   primaryPropertyLoanToValue  50919 non-null   float64
 3   primaryPropertyValue        50919 non-null   float64
 4   propertyCount               50919 non-null   float64
 5   isClassADonor               50919 non-null   float64
 6   isClassBDonor               50919 non-null   float64
 7   isClassCDonor               50919 non-null   float64
 8   isClassDDonor               50919 non-null   float64
 9   NetWorth                    50919 non-null   float64
 10  sumClassADonation           50919 non-null   float64
 11  sumClassBDonation           50919 non-null   float64
 12  sumClassCDonation           50919 non-null   float64
 13  sumClassDDonation           50919 non-null   float64
 14  maxClassADonation           50919 non-null   float64
 15  maxClassBDonation           50919 non-null   float64
 16  maxClassCDonation           50919 non-null   float64
 17  maxClassDDonation           50919 non-null   float64
 18  sumCauseADonations          50919 non-null   float64
 19  sumCauseBDonations          50919 non-null   float64
 20  sumCauseCDonations          50919 non-null   float64
 21  sumCauseDDonations          50919 non-null   float64
 22  sumCauseEDonations          50919 non-null   float64
dtypes: float64(22), object(1)
memory usage: 22.8+ MB

In [40]:
# will leave as-is until merging
df_features.isna().sum()

candidate_id                      0
totalHouseholdDebt            79195
primaryPropertyLoanToValue    79195
primaryPropertyValue          79195
propertyCount                 79195
isClassADonor                 79195
isClassBDonor                 79195
isClassCDonor                 79195
isClassDDonor                 79195
NetWorth                      79195
sumClassADonation             79195
sumClassBDonation             79195
sumClassCDonation             79195
sumClassDDonation             79195
maxClassADonation             79195
maxClassBDonation             79195
maxClassCDonation             79195
maxClassDDonation             79195
sumCauseADonations            79195
sumCauseBDonations            79195
sumCauseCDonations            79195
sumCauseDDonations            79195
sumCauseEDonations            79195
dtype: int64

### Combining Dataframes

In [44]:
# renaming column to merge on
df_features.rename(columns = {'candidate_id' : 'cand_id'}, inplace = True)

In [45]:
df_features.head(1)

,cand_id,totalHouseholdDebt,primaryPropertyLoanToValue,primaryPropertyValue,propertyCount,isClassADonor,isClassBDonor,isClassCDonor,isClassDDonor,NetWorth,...,sumClassDDonation,maxClassADonation,maxClassBDonation,maxClassCDonation,maxClassDDonation,sumCauseADonations,sumCauseBDonations,sumCauseCDonations,sumCauseDDonations,sumCauseEDonations
0,candidate_0,6.085778,0.33638,2215000.0,4.0,0.0,0.0,1.0,1.0,14011369.0,...,2134.97,1.0,1.0,751.0,751.0,0.0,0.0,0.0,0.0,0.0

In [58]:
df = pd.merge(left = df_features, right = donor_final_df, on = 'cand_id', how = 'right')

In [61]:
df.shape

(74603, 25)

In [64]:
df.head(3)

,cand_id,totalHouseholdDebt,primaryPropertyLoanToValue,primaryPropertyValue,propertyCount,isClassADonor,isClassBDonor,isClassCDonor,isClassDDonor,NetWorth,...,maxClassBDonation,maxClassCDonation,maxClassDDonation,sumCauseADonations,sumCauseBDonations,sumCauseCDonations,sumCauseDDonations,sumCauseEDonations,rolling_avg,20k_donor
0,candidate_0,6.085778,0.336380,2215000.0,4.0,0.0,0.0,1.0,1.0,14011369.0,...,1.0,751.0,751.0,0.0,0.0,0.000000,0.0,0.0,4965.150833,1
1,candidate_1,6.480672,0.828664,3650000.0,1.0,0.0,1.0,0.0,1.0,5812754.0,...,1751.0,1.0,251.0,0.0,0.0,0.000000,0.0,0.0,25000.000000,1
2,candidate_10,4.667154,0.078097,595000.0,1.0,0.0,1.0,0.0,0.0,954112.0,...,41.0,1.0,1.0,0.0,0.0,2.164353,0.0,0.0,85.000000,0

In [65]:
df.isna().sum()

cand_id                           0
totalHouseholdDebt            36916
primaryPropertyLoanToValue    36916
primaryPropertyValue          36916
propertyCount                 36916
isClassADonor                 36916
isClassBDonor                 36916
isClassCDonor                 36916
isClassDDonor                 36916
NetWorth                      36916
sumClassADonation             36916
sumClassBDonation             36916
sumClassCDonation             36916
sumClassDDonation             36916
maxClassADonation             36916
maxClassBDonation             36916
maxClassCDonation             36916
maxClassDDonation             36916
sumCauseADonations            36916
sumCauseBDonations            36916
sumCauseCDonations            36916
sumCauseDDonations            36916
sumCauseEDonations            36916
rolling_avg                       0
20k_donor                         0
dtype: int64

In [79]:
# making an assumption that net worth is a top feature
df_trim = df[df['NetWorth'].notna()]

In [80]:
# luckily that removed all nulls
df_trim.isna().sum()

cand_id                       0
totalHouseholdDebt            0
primaryPropertyLoanToValue    0
primaryPropertyValue          0
propertyCount                 0
isClassADonor                 0
isClassBDonor                 0
isClassCDonor                 0
isClassDDonor                 0
NetWorth                      0
sumClassADonation             0
sumClassBDonation             0
sumClassCDonation             0
sumClassDDonation             0
maxClassADonation             0
maxClassBDonation             0
maxClassCDonation             0
maxClassDDonation             0
sumCauseADonations            0
sumCauseBDonations            0
sumCauseCDonations            0
sumCauseDDonations            0
sumCauseEDonations            0
rolling_avg                   0
20k_donor                     0
dtype: int64

In [81]:
df_trim.shape

(37687, 25)

In [83]:
df_trim.sample(3)

,cand_id,totalHouseholdDebt,primaryPropertyLoanToValue,primaryPropertyValue,propertyCount,isClassADonor,isClassBDonor,isClassCDonor,isClassDDonor,NetWorth,...,maxClassBDonation,maxClassCDonation,maxClassDDonation,sumCauseADonations,sumCauseBDonations,sumCauseCDonations,sumCauseDDonations,sumCauseEDonations,rolling_avg,20k_donor
18282,candidate_123110,5.374565,0.285493,829793.0,1.0,0.0,1.0,1.0,0.0,1732803.0,...,51.0,101.0,1.0,0.000000,0.000000,0.0,1.70757,0.0,116.666667,0
23808,candidate_129914,5.319976,0.128697,667000.0,2.0,0.0,1.0,0.0,0.0,3413901.0,...,16.0,1.0,1.0,1.041393,1.322219,0.0,0.90309,0.0,50.000000,0
9079,candidate_111640,0.000000,0.000000,1024628.0,1.0,0.0,1.0,0.0,0.0,4504262.0,...,51.0,1.0,1.0,1.880814,0.000000,0.0,0.00000,0.0,1040.000000,0

In [84]:
df_trim['20k_donor'].value_counts(normalize = True)

0    0.978162
1    0.021838
Name: 20k_donor, dtype: float64

In [85]:
# exporting the final df as csv
df_trim.to_csv('final_df.csv')